@chasert "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #3C4767 50%, #DF563B);
}

h1 {
    display: flex;
    justify-content: center;
    margin: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 50px;
    color: #FFFEFE;
    margin-top: 10%;
}

.form-text {
    display: flex;
    justify-content: center;
    color: #FFFEFE;
}

input {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    margin: 15px;
    border-radius: 6px;
    padding: 10px;
    width: 212px;
    height: 20px;
    opacity: 1;
}

.back-login {
    display: flex;
    justify-content: center;
    color: #FFFEFE;
    margin: 50px;
}

.submit-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    border-radius: 6px;
    opacity: 1;
    margin-left: 130px;
    width: 100px;
    height: 30px;
    background-color: #4B71CAB3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #00000029;
}

.back-ground {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 6px;
    width: 400px;
    margin: 0 auto;
}

.add-text {
    display: flex;
    justify-content: center;
    color: #FFFEFE;
    margin: 30px;
}

.back-add {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFEFE;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 30%;
    background-color: #4B71CAB3;
    width: 150px;
    height: 50px;
    transition: background-color 0.3s;
    font-size: 15px;
}

.back-add:hover {
    background-color: #00000029;
}

.error-message {
    color: red;
}
