@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #3C4767;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
}

/* .btn {
    float: right;
} */

.user_img {
    float: right;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

.post-form {
    justify-content: space-between;
    resize: none;
    border: none;
    width: 600px;
    height: 50px;
    box-sizing: border-box;
}

/*　モーダル用CSS */

.modal {
    display: none;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-edit {
    resize: none;
    text-align: left;
    margin: 0;
    padding: 30px;
    max-width: 100%;
    max-height: 50%;
    overflow: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #6C6C6C;
    border-radius: 5px;
}

input {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #6C6C6C;
    border-radius: 5px;
}

.users-profile {
    display: flex;
    align-items: center;
}

.error-message {
    color: red;
}

.followers-user {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.follow-user {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.user-image {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trash-button {
    background: none;
    border: none;
    padding: 0;
    position: relative;
}

.trash-image {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.trash-button:hover .trash-image {
    background-color: #4B71CAB3;
    color: white;
}

.trash-button:hover {
    background-color: transparent;
    color: inherit;
}

.edit-modal {
    background: none;
    border: none;
    padding: 0;
}

.edit-image {
    background-color: transparent;
    border: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
